body {
    font-family: 'EB Garamond', serif;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 18px;
    color: #d3bb89;
    margin: 0;
}

@font-face {
    font-family: Game_of_Thrones;
    src: url(../font/Game_of_Thrones.ttf);
}

h1 {
    margin: 0;
    font-family: Game_of_Thrones;
    text-align: center;
	font-weight: 100;
}

label {
    margin: 0;
    color: #d3bb89;
}

p {
    margin: 0;
    color: #d3bb89;
}

.contact_form {
    background-image: url(../img/darknoise.png);
    display: flex;
    height: 100vh;
}

/*PHOTO*/
.screen_server {    
    max-width: 50%;
    flex-grow: 1;
    background-position: center;
    background-size: cover;
}

/*FORM*/

.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

#description {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #fef8eb;
    border-left: 1px solid #d3bb89; /* Параметры линии */ 
    padding-left: 10px; /* Расстояние от линии до текста */ 
    margin-bottom: 35px;

}

form {
    width: 60%;
    margin: 35px auto 0 auto;
}

form .caution {
    font-size: 12px;
    color: #fef8eb;
	font-family: "Open Sans", sans-serif;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #fff0/* no-repeat 98% */center;
    width: 100%;
    height: 30px;
    border: none;
    box-shadow: none;
    border-bottom: solid 1px;
    border-color: #d3bb89;
    color: #fef8eb;
    margin-bottom: 20px;
    outline:none;
}

input:focus {
    outline: -webkit-focus-ring-color auto 1px;
}

textarea {
    font-family: 'Open Sans', sans-serif;
    background: #fff0 no-repeat 98% center;
    width: 100%;
    height: 30px;
    border: none;
    box-shadow: none;
    border-bottom: solid 1px;
    border-color: #d3bb89;
    margin-bottom: 20px;
	resize: none;
    color: #fff;
    font-size: 16px;
}

textarea:focus {
    outline:none;
}

.button {
    color: #f8f2e5;
    user-select: none;
    background-color: #c19a49;
    margin-top: 35px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: none;
    padding: 13px 30px 30px 30px;
}
/*FOR SECOND FORM*/
.confirmation {
    display: inline-flex;
}

input[type="checkbox"]{ /*https://nisnom.com/veb-razrabotki/krasivyj-effekt-pulsatsii-dlya-chekboksov-i-radioknopok/#more-3010*/
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    height: 20px;
    width: 20px;
    background: #d3bb89;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline:none;
}

.confirmation input:checked::before {
    height: 20px;
    width: 20px;
    content: '✔';
    display: inline-block;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    color: #000;
}

.confirmation label {
    margin-left: 10px;
}

#secondSection {
    display: none;
}


/*/*//*/*//**/

#block-for-slider {
    /*width: 80%;
    margin: 0 auto;
    margin-top: 100px;*/
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    height: 100vh;
    width: 100%;
    
}

#prev-btn, #next-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #c19a49;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}

/*dropdown menu*/

.nice-select {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #fff0 center;
    width: 100%;
    height: 30px;
    border: none;
    box-shadow: none;
    border-bottom: solid 1px;
    border-color: #d3bb89;
    border-radius: 0;
    color: #fef8eb;
    margin-bottom: 20px;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

span .current {
    color: #fef8eb;
}

.nice-select .list {
    width: 100%;
    background-color: #d3bb89;
    border-radius: 0;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: #fff0; 
}

.nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #d3bb89;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    border-color: #202020;

}